@import "@radix-ui/themes/styles.css";
@import "tailwindcss";


@theme {
  	--color-primary: #5FACCA;
 	--color-primary-light: #ECF5F8;
	--color-secondary: #21C55D;
	--color-secondary-light: #EBF8EE;
	--color-foreground: #FFFFFF;
	--color-background: #F6F7F9;
  	--color-muted: #E7EAED;
  	--color-dark: #2D3249;
}



.radix-themes:where([data-is-root-theme='true']) {
	min-height: auto !important;
}